div.error
{
  background-color:#fae9e5 !important;
}

input.error
{
  background-color:#fff;
  border:1px solid #cbcbcb;
}

div.rex488-validate-message
{
  display:none;
}

div.rex488-form-row
{
  width:100%;
  padding:0;
  background-color:#DFE9E9;
  border-top:1px solid #fff;
  border-bottom:1px solid #cbcbcb;
  display:block;
  float:left;
}

div.rex488-form-row
{
  width:100%;
  padding:0;
  background-color:#DFE9E9;
  border-top:1px solid #fff;
  border-bottom:1px solid #cbcbcb;
  display:block;
  float:left;
}

div.rex488_extra_settings div.rex488-form-row
{
  background-color:#F9FDE9;
}

div.rex-form-wrapper
{
  background-color:#F9FDE9 !important;
}

div.rex488_extra_settings div.rex-content-editmode-module-name
{
  background-color:#F4FECF;
}

div.rex488-form-submit
{
  padding:10px 0;
  border-bottom:none !important;
}

p.rex488-form-submit
{
  padding:0 10px;
}

p.rex488-form-text
{
  width:100%;
  padding:0;
  float:left;
}

label.rex488-form-label
{
  padding:0 0 0 10px;
  float:left;
  clear:both;
}

span.rex488-form-notice
{
  margin:-3px 0 10px 10px;
  padding:0 0 0 2px;
  color:#999;
  float:left;
  clear:both;
}

label.rex488-form-first
{
  padding-top:10px;
}

input.rex488-form-text
{
  width:96.3%;
  margin:1.5%;
  padding:2px;
  float:left;
}

p.rex488-form-textarea
{
  width:100%;
  padding:0;
  float:left;
}

textarea.rex488-form-textarea
{
  width:96.3%;
  margin:1.5%;
  padding:2px;
  float:left;
}

div.rex488_extra_settings textarea.rex488-form-textarea
{
  height:75px;
}

textarea.rex488-form-tinymce
{
  width:1px !important;
  height:1px !important;
  padding:0 !important;
  float:left !important;
  overflow:hidden !important;
  display:none !important;
}

p.rex488-form-select
{
  width:100%;
  padding:0;
  float:left;
}

p.rex488-form-plugin-select
{
  background-color:#CCD7DD;
}

p.rex488-form-plugin-select select.rex488-form-select
{
  width:99%;
  margin:5px 0.5%;
  padding:2px;
  float:left;
}

select.rex488-form-select
{
  width:97%;
  margin:1.5%;
  padding:2px;
  float:left;
}

div.rex488_extra_settings p.rex488-form-select
{
  background-color:#F9FDE9;
  width:100%;
  padding:0;
  float:left;
}

div.rex488_extra_settings select.rex488-form-select
{
  width:97%;
  margin:1.5%;
  padding:2px;
  float:left;
}

p.rex488-form-checkbox
{
  background-color:#EFF9F9;
  width:100%;
  padding:10px 0;
  float:left;
  display:none;
}

span.mceEditor
{
  width:97%;
  padding:1.5%;
  left:-1px;
  float:left;
  display:block;
  margin:0 0 0 1px;
}

div.rex488_meta_data,
div.rex488_meta_trackbacks,
div.rex488_meta_tags,
div.rex488_meta_settings
{
  float:left;
  width:100%;
  display:none;
}

label.rex488-form-checkbox
{
  margin:1px 0 0 5px;
  float:left;
}

input.rex488-form-checkbox
{
  margin:1px 0 0 10px;
  float:left;
}

p.rex488-form-icon
{
  padding:10px 5px;
  margin:-12px 0 10px 11px;
  float:left;
  background-color:#F0F0EE;
  width:95.5%;
  border:1px solid #CCC;
  border-top:none;
}

p.rex488-form-icon a
{
  margin:0 5px 0 0 !important;
  display:block;
  float:left;
  height:16px;
  line-height:16px;
}

p.rex488-form-icon a span
{
  padding:0 0 0 21px;
  float:left;
}

a.rex488-mediapool
{
  background:transparent url('/redaxo/include/addons/rexblog/classes/plugins/files/mediapool.png') top left no-repeat;
}

a.rex488-mediapool-add
{
  background:transparent url('/redaxo/include/addons/rexblog/classes/plugins/files/mediapool_add.png') top left no-repeat;
}

a.rex488-mediapool-delete
{
  background:transparent url('/redaxo/include/addons/rexblog/classes/plugins/files/mediapool_delete.png') top left no-repeat;
}

a.rex488-mediapool-top
{
  background:transparent url('/redaxo/include/addons/rexblog/classes/plugins/files/mediapool_top.png') top left no-repeat;
}

a.rex488-mediapool-up
{
  background:transparent url('/redaxo/include/addons/rexblog/classes/plugins/files/mediapool_up.png') top left no-repeat;
}

a.rex488-mediapool-down
{
  background:transparent url('/redaxo/include/addons/rexblog/classes/plugins/files/mediapool_down.png') top left no-repeat;
}

a.rex488-mediapool-bottom
{
  background:transparent url('/redaxo/include/addons/rexblog/classes/plugins/files/mediapool_bottom.png') top left no-repeat;
}

p.rex488-form-icon a img
{
  display:inline !important;
}

p.rex488-form-widget-select
{
  width:100%;
  padding:0;
  float:left;
}

select.rex488-form-widget-select
{
  width:97%;
  margin:1.5%;
  padding:2px;
  float:left;
  border:1px solid #CCC;
}