#rex-categories td.handle
{
  background:transparent url(../img/priority.gif) center center no-repeat;
  cursor:pointer;
}

#rex-categories.processing td.handle
{
  background:transparent url(../img/ajax.gif) center center no-repeat;
  cursor:wait;
}

#rex-categories.processing
{
  cursor:wait;
}

#rex-categories tr.drag td
{
  background-color:#DFE9E9;
}

div.rex-form-wrapper
{
  border-top:1px solid #FFF;
}

div.error
{
  background-color:#fae9e5;
}

label.label-error
{
  color:#EA1144;
  font-weight:900;
}

._rex488_control_panel
{
  background-color:#DFE9E9;
  padding:6px 5px;
  width:451px;
  float:left;
  clear:both;
  border:1px solid #cbcbcb;
  margin:5px 0 0 154px;
  -moz-border-radius:3px;
}

span._rex488_move_element
{
  background:transparent url(../img/move.png) left center no-repeat;
  line-height:16px;
  height:16px;
  padding-left:21px;
  cursor:move;
  display:block;
  float:left;
  margin:0 5px 0 0;
}

span._rex488_remove_element
{
  background:transparent url(../img/cross.png) left center no-repeat;
  line-height:16px;
  height:16px;
  padding-left:21px;
  cursor:pointer;
  float:left;
  margin:0 5px 0 0;
  display:block;
}

label.error
{
  margin-left:150px;
  width:400px !important;
  color:#EA1144;
  font-weight:900;
}

input.error
{
  background-color:#fff;
  border:1px solid #cbcbcb;
}

div.rex-form-row
{
  background-color:#EFF9F9;
}

.rex-validate-message
{
  display:none;
}

.rex-table
{
  line-height:120%;
}

select.rex-form-select
{
  width:462px !important;
  border:1px solid #999999;
  padding:1px;
}