#rex-categories td.handle
{
  background:transparent url(../img/priority.gif) center center no-repeat;
  cursor:pointer;
}

#rex-categories.processing td.handle
{
  background:transparent url(../img/ajax.gif) center center no-repeat;
  cursor:wait;
}

#rex-categories.processing
{
  cursor:wait;
}

#rex-categories tr.drag td
{
  background-color:#DFE9E9;
}

div.error
{
  background-color:#fae9e5 !important;
}

input.error
{
  background-color:#fff;
  border:1px solid #cbcbcb;
}

/** REX488-FORM-ELEMENTS
*/

div.rex488-validate-message
{
  display:none;
}

div.rex488-form-row
{
  width:100%;
  padding:0;
  background-color:#DFE9E9;
  border-top:1px solid #fff;
  border-bottom:1px solid #cbcbcb;
  display:block;
  float:left;
}

div.rex488_extra_settings div.rex488-form-row
{
  background-color:#F9FDE9;
}

div.rex-form-wrapper
{
  background-color:#F9FDE9 !important;
}

div.rex488_extra_settings div.rex-content-editmode-module-name
{
  background-color:#F4FECF;
}

div.rex488-form-submit
{
  padding:10px 0;
  border-bottom:none !important;
}

p.rex488-form-submit
{
  padding:0 10px;
}

p.rex488-form-text
{
  width:100%;
  padding:0;
  float:left;
}

input.rex488-form-text
{
  width:96.3%;
  margin:1.5%;
  padding:2px;
  float:left;
}

p.rex488-form-textarea
{
  width:100%;
  padding:0;
  float:left;
}

textarea.rex488-form-textarea
{
  width:96.3%;
  margin:1.5%;
  padding:2px;
  float:left;
}

textarea.rex488-form-tinymce
{
  width:1px !important;
  height:1px !important;
  padding:0 !important;
  float:left !important;
  overflow:hidden !important;
  display:none !important;
}

p.rex488-form-select
{
  background-color:#CCD7DD;
  width:100%;
  padding:0;
  float:left;
}

select.rex488-form-select
{
  width:97%;
  margin:1.5%;
  padding:2px;
  float:left;
}

p.rex488-form-checkbox
{
  background-color:#EFF9F9;
  width:100%;
  padding:10px 0;
  float:left;
  display:none;
}

span.mceEditor
{
  width:97%;
  padding:1.5%;
  left:-1px;
  float:left;
  display:block;
  margin:0 0 0 1px;
}

div.rex488_metadata,
div.rex488_trackbacks
{
  float:left;
  width:100%;
  display:none;
}

label.rex488-form-checkbox
{
  margin:1px 0 0 5px;
  float:left;
}

input.rex488-form-checkbox
{
  margin:1px 0 0 10px;
  float:left;
}