#rex-categories th,
#rex-categories td
{
  line-height:140%;
}

#rex-categories td.handle
{
  background:transparent url(../img/priority.gif) center center no-repeat;
  cursor:pointer;
}

#rex-categories.processing td.handle
{
  background:transparent url(../img/ajax.gif) center center no-repeat;
  cursor:wait;
}

#rex-categories.processing
{
  cursor:wait;
}

#rex-categories tr.drag td
{
  background-color:#DFE9E9;
}

div.error
{
  background-color:#fae9e5 !important;
}

input.error
{
  background-color:#fff;
  border:1px solid #cbcbcb;
}

div.rex488-validate-message
{
  display:none;
}