@charset "utf-8";
/* CSS Document */

ul#_rex488_pagination
{
	float:left;
	clear:both;
	margin:0 0 20px 0;
}

ul#_rex488_pagination li
{
	font-size:100%;
	list-style:none;
	margin:0 10px 0 0;
}

ul#_rex488_pagination li.prev
{
	float:left;
}

ul#_rex488_pagination li.next
{
	float:left;
}

ul#_rex488_pagination li a
{
	font-size:75%;
	font-weight:normal;
}