@charset "utf-8";
/* CSS Document */

ul._rex488_article_tags
{
	float:left;
	clear:both;
	list-style:none;
}

ul._rex488_article_tags li
{
	float:left;
	margin:0 0 0 5px;
	border-left:1px solid #DDD;
	padding:0 0 0 5px;
}

ul._rex488_article_tags li:first-child
{
	margin:0;
	padding:0;
	border:none;
}

ul._rex488_article_tags li p
{
	margin:0 !important;
}

ul#_rex717_tagcloud
{
  margin:0 20px 20px 0;
  float:left;
  width:180px;
}

ul#_rex717_tagcloud li
{
  list-style:none;
  font-size:75%;
  font-weight:normal;
}

ul#_rex717_tagcloud li a
{
	display:block;
  font-size:12px;
  font-weight:normal;
  padding:0;
	line-height:22px;
	float:left;
	margin:0 3px 0 0;
}

ul#_rex717_tagcloud li a._rex717_tagstrength_1
{
  font-size:100%;
}

ul#_rex717_tagcloud li a._rex717_tagstrength_2
{
  font-size:120%;
}

ul#_rex717_tagcloud li a._rex717_tagstrength_3
{
  font-size:140%;
}

ul#_rex717_tagcloud li a._rex717_tagstrength_4
{
  font-size:160%;
}

ul#_rex717_tagcloud li a._rex717_tagstrength_5
{
  font-size:180%;
}